#principal h1 {
    color: blue;
}

#principal p em{
    color: blue;
}

#principal h1 + p em {
    color: red
}

#principal article h1 {
    color: green;
}

#principal article p {
    color: blue;
}

nav li {
    color: green;
}

li.selecionado {
    color: blue;
}

article h1 {
    color: green;
}

p.selecionado {
    color: red;
}