@import url("/exercicio14/grid.css");

.f1,.f2,.f3{
    text-align: center;
    padding: 5px;
    border: 2px solid rgba(120, 120, 120, 0.5);
    box-sizing: border-box;
}

.f1{
    background-color: blue;
}

.f2{
    background-color: red;
}

.f3{
    background-color: green;
}