@import url("/exercicio14/grid.css");

.f1,.f2,.f3{
    text-align: center;
    padding: 5px;
    border: 2px solid rgba(120, 120, 120, 0.5);
    box-sizing: border-box;
}

.card{
    margin: 10px;
    background-color: azure;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 150px;
}

.gridA, .gridB{
    width: 100%;
}

.grids{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gridA{
    background-color: blueviolet;
}

.gridB{
    background-color: brown;
}

@media (min-width: 992px){
    .grids{
        flex-wrap: nowrap;
    }
    .gridA{
        width: 70%;
    }
    .gridB{
        width: 30%;
    }
}



.f1{
    background-color: blue;
}

.f2{
    background-color: red;
}

.f3{
    background-color: green;
}